asgiref
Django
sqlparse
django-extensions
langchain_aws
djangorestframework
djangorestframework-simplejwt
markdown
django-filter
drf-nested-routers
django-cors-headers
django-environ
django-allauth
cryptography
langchain_aws
langchain
sentry-sdk[django]
pytz
requests
Pillow
boto3>=1.26.0
botocore>=1.29.0
rx>=3.2.0
pyaudio>=0.2.13

# Testing
pytest
pytest-describe
mockito
pytest-django