asgiref
Django
sqlparse
django-extensions
langchain_aws
djangorestframework
djangorestframework-simplejwt
markdown
django-filter
drf-nested-routers
django-cors-headers
django-environ
django-allauth
cryptography
langchain
sentry-sdk[django]
pytz
requests
Pillow
tavily-python==0.7.23
langchain-openai==1.1.12
langchain-community==0.4.1

pytest
pytest-describe
mockito
pytest-django