asgiref
Django
sqlparse
django-extensions
langchain_aws
djangorestframework
djangorestframework-simplejwt
markdown
django-filter
drf-nested-routers
django-cors-headers
django-environ
django-allauth
cryptography
langchain_aws
langchain
sentry-sdk[django]
pytz
requests
Pillow

pytest
pytest-describe
mockito
pytest-django